.idea
.editorconfig
/node_modules
/public/hot
/public/storage
/public/ckeditor_admin
/public/kcfinder
/storage/*.key
/app/Http/Controllers/Web/DevelController.php
/resources/views/nogit
/resources/lang/ru.json
/resources/lang/en.json
/resources/lang/kz.json
/vendor
/public/scan
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.zip
*.sql
