
// Body
$body-bg: #ffffff;

// Typography
$font: 'Montserrat', sans-serif;

// Bootstrap override
//$spacer: 5rem;
$leftsidebarw: 320px;

// Colors

$text-color: #05192D;
$blue-color: #4BB0FE;
$darkblue-color: #113A63;
$dark-red: #BA2D23;
$muted-text: #8B9CAD;
$white-text: #E7EAED;
$gray-color: #8B929A;
$green-color: #27AE60;
$gray-back: #F4F8FB;
$border-color: #E2EAF2;
$golden-color: #BEA86A;

// Admin
$color-border: #E6E6E6;
$color-primary: #246FBA;
$color-secondary: #237C00;
$color-gray: #878787;
$color-success: #25a76b;
$color-warning: #e8af03;
$color-danger: #f10000;
$color-neutral: #EAE9EE;
$color-sidebar: #05192D;
$color-light: #c1c1c1;

$color-primary-admin: #000;
$admin-sidebar-active: #EB5E28;
$admin-sidebar-bg-logo: #fff;
$admin-sidebar-bg: #fff;

$seatcolors: (
        0: #3eb5f1,
        1: #9870ad,
        2: #ee9a9a,
        3: #4a9f66,
        4: #DE507C,
        5: #0F4D5F,
        6: #9F9739,
        7: #450B1D,
        8: #A9248F,
        9: #C54120,
        10: #000,
);
