.btn-themed, .btn-themed-secondary {
  background: $blue-color;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  border: none;
  font-size: 14px;
  padding: 10px 24px;
  outline: none;
  &:hover {
    color: #fff;
    //        background: $color-primary;
  }
  &:disabled {
    opacity: 0.5;
  }
}
.btn-themed-white {
  background: transparent;
  border: 1px solid #FFFFFF;
}
//.btn-themed-secondary {
//    background: $color-secondary;
//}
//
input.form-control, textarea.form-control {
  //    border: none;
  //    border-bottom: 2px solid #C4C4C4;
  //    padding-left: 0;
  //border-radius: 100px;
  border-radius: 0;
  &:focus {
    //        //background: #f7f7f7;
    box-shadow: none;
    //border-color: $color-secondary;
  }
}
a {
  color: $blue-color;
}
hr {
  background: $border-color;
  opacity: 1;
}
.dot {
  width: 3px;
  height: 3px;
  display: inline-block;
  background: #C4C4C4;
  vertical-align: middle;
}
.text-muted {
  color: $muted-text !important;
}
.text-dark {
  color: $text-color !important;
}
.img {
  width: 100%;
}
h2.block-title {
  text-transform: uppercase;
  margin-bottom: 36px;
}
.more-link {
  font-size: 16px;
  font-style: italic;
  color: $blue-color;
  display: block;
  text-align: center;
  font-family: 'PT Sans';
  img {
    margin-left: 15px;
    transition: all ease-out 0.1s;
  }
  span {
    text-decoration: underline;
  }
  &:hover {
    color: $blue-color;
    span {
      text-decoration: none;
    }
    img {
      margin-left: 25px;
    }
  }
}
.alert-warning {
  background: #FFF8E5;
  color: #E5B22D;
  padding: 6px 10px;
  border: none;
}
.text-primary {
  color: #4BB0FE !important;
}
.small {
  font-size: 10px;
}
.row.row-desktop-narrow {
  margin-left: -5px;
  margin-right: -5px;
  > .col,
  > [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
  }
}

@media(min-width: 769px) {
  .collapse-only-mob {
    display: block !important;
  }
}


@media(max-width: 768px) {
  .more-link {
    font-size: 13px;
  }
  h2.block-title {
    font-size: 24px;
    margin-bottom: 32px;
  }
  .btn-themed, .btn-themed-secondary {
    font-size: 13px;
    padding: 13px 15px;
  }
  .alert {
    padding: 6px 10px;
  }
  .form-control {
    font-size: 14px;
  }
  .container-mob-g0 {
    padding-left: 0;
    padding-right: 0;
  }
  .container-mob-20 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .row.row-narrow {
    margin-left: -5px;
    margin-right: -5px;
    > .col,
    > [class*="col-"] {
      padding-right: 5px;
      padding-left: 5px;
    }
  }
}


